<%= form_with model: book do |form| %>
    <% if book.errors.any? %>
        <% book.errors.each do |error| %>
            <h2><%= error.full_message %></h2>
        <% end %>
    <% end %>
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title, placeholder: "dracula" %>
    </p>
    <%= form.fields_for :author do |author_form| %>
        <p>
            <%= author_form.label :name, "Author" %><br>
            <%= form.collection_select :author_id, Author.all, :id, :name, include_blank: "Select an Author" %><br>
            <%= author_form.text_field :name, placeholder: "or create new author" %>
        </p>
    <% end %>
    <%= form.fields_for :genre do |genre_form| %>
        <p>
            <%= genre_form.label :name, "Genre" %><br>
            <%= form.collection_select :genre_id, Genre.all, :id, :name, include_blank: "Select a Genre" %><br>
            <%= genre_form.text_field :name, placeholder: "or create new genre" %>
        </p>
    <% end %>
    <p>
        <%= form.label :pages %><br>
        <%= form.number_field :pages, placeholder: "200" %>
    </p>
    <p>
        <%= form.label :total_chapters, "Chapters" %><br>
        <%= form.number_field :total_chapters, placeholder: "12" %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %><br>
<%= link_to "Back to Books", root_path %>