<div class="bookpage">
<h1><%= @book.title %></h1>
<h3>Author: <%= @book.author.name %></h3>
<h3>Genre: <%= @book.genre.name %></h3>
<h3><%= @book.pages %> Pages</h3>
<h3><%= @book.total_chapters %> Chapters</h3>
<%= button_to "Delete Book", book_path(@book.id), method: :delete, class: "danger" %><br>
<%= link_to "Back to Books", root_path %><br><br>

<h1>Review</h1>
<h2>Write a Review</h2>
<%= render "reviews/form", book: @book %><br>

<h1>Chapters</h1>
<%= render @book.chapters %>
</div>